<section class="loginSection">
  <div class="center">
    <h1>Login</h1>
    <form method="post" class="loginForm">
      <div class="txt_field">
        <input type="text" id="emailLogin" required />
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" id="passwordLogin" required />
        <span></span>
        <label>Password</label>
      </div>
      <div class="pass">Forgot Password?</div>
      <input type="submit" value="Login" />
      <div class="signup_link">Not a member? <a href="#">Signup</a></div>
    </form>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script src="/login.js"></script>

  </div>
</section>