<section class="loginSection">
  <div class="center">
    <h1>Sign-Up</h1>
    <form method="post" class="signupForm">
      <div class="txt_field">
        <input type="text" id="usernameSignup" required />
        <span></span>
        <label>Username</label>
      </div>
      <div class="txt_field">
        <input type="text" id="emailSignup" required />
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" id="passwordSignup" required />
        <span></span>
        <label>Password</label>
      </div>

      <input type="submit" value="Sign Up" />
      <div class="signup_link">Already a member? <a href="#">Login</a></div>
    </form>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script src="/login.js"></script>
  </div>
</section>